@charset "utf-8";

@font-face{
    font-family: Round;
    src: url(round.ttf) format('truetype'),
         url(round.woff) format('woff'),
         url(round.woff2) format('woff2');
}

h1, h2{
    font-family: Round, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
}

article, footer, header, nav, section{
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


body {
   line-height: 1.2em;
   border-left: 3px solid black;
   border-right: 3px solid black;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}
