@charset "utf-8";

@font-face{
    font-family: Round;
    src: url(round.ttf) format('truetype'),
         url(round.woff) format('woff'),
         url(round.woff2) format('woff2');
}

@keyframes example {
    from {background-color: white;}
    to {background-color: rgba(53, 120, 54, .6);}
  }

  @keyframes one {
    0%   {background-color:rgba(53, 120, 54, 0.5); transform:rotateX(20deg); }
    25%  {background-color: rgba(53, 120, 54, 0.7); transform:rotateX(-20deg);}
    50%  {background-color: rgba(53, 120, 54, 0.9); transform:rotateX(20deg);}
    75%  {background-color: rgb(53, 120, 54); transform:rotateX(-20deg);}
    100% {background-color: rgb(53, 120, 54); transform:rotateX(20deg);}
  }

  @keyframes two {
    0%   { transform:rotateX(20deg); transform: scale(1.5);}
    25%  { transform:rotateX(-20deg);}
    50%  { transform:rotateX(20deg);}
    75%  { transform:rotateX(-20deg);}
    100% { transform:rotateX(20deg);}
  }

body {
    width: 100%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: rgb(31, 31, 31) 8px 15px 25px, rgb(31, 31, 31) -8px -15px 25px;
}
	
body > header {
	text-align: center;	
	width: 100%;
}

body > header > img {
	display: inline;
	max-width: 400px;
    text-align: center;
    position: absolute;
}

section{
    padding-top: 100px;
    padding-bottom: 150px;
    display: block;
}
div{
    display: block;
}
/*Horizontal Nav*/

nav.horizontal {
    width: 100%;
}

nav.horizontal ul {
	background-color: rgb(53, 120, 54);
	text-align: center;
    width: 100%;
    float:left;
    clear:left;	
    height: 90px;
    background: linear-gradient( rgb(53, 120, 54), rgba(53,120,54, 0.7));
}


nav.horizontal li {
	font-family: Round, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 3vw;
	line-height: 2em;
	list-style-type: none;	
    width: 20%;
}


nav.horizontal ul::after{
    clear: both;
    content:"";
    display: table;
}

nav.horizontal li a {
	color: black;
	display: block;
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
nav.horizontal li a:hover{
    text-shadow: black 5px 5px 25px;
}
nav.horizontal > ul li {
    float: left;
}

section.index, body header{
    background-color: white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

/* Index */

section.index{
    border: none;
    box-shadow: none;
    height: 800px;

}
h1#index{
    font-size: 10vw;
    padding-top: 1em;
    text-align: center;
    text-shadow: black 15px 8px 40px;
}
h2{
    text-align: center;
    padding-top: 20px;
}

/* About Me */
section.left, section.right{
    height: 900px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}
section.left img{
    display: block;
    border-style: double;
    border-width: 8px;
    border-color: black;
    margin:10px;
    width: 40vmax;
    height: auto;
}
h2#about_h2{
    font-size: 5vw;
    margin-top: 5%;
}
article#about_me{
    margin-top: 50px;
    font-size: 2vw;
    line-height: normal;
}
section.left{
    display: block;
    float: left;
    width: 40%;
}

div#about_skill{
    margin-left: 95px;
}
/* Skills */

article.Skill{
    height: 80px;
    margin-top: 80px;
    align-content: center;
    width: 100%;
    display: block;
}

h1#skills_h1{
    font-size: 5vw;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
h1#skill1, h1#skill2{
    font-size: 2vw;
    margin-left: 20px;
}
img#star1, img#star2{
    margin-top: 20%;
    width: 15%;
    height: auto;
}
h1#skill1{
    padding-top: 45%;
}
h1#skill2{
    padding-top: 45%;
}
div#skills{
    padding-top: 60px;
}
 img#star1:hover, img#star2:hover{
     animation-name: two;
     animation-duration: 6s;
     animation-iteration-count: infinite;
 }

/* Works */

h2#work_h2{
    font-size: 6vw;
    margin-bottom: 90px;
    text-align: center;
}
section.works{
    height: auto;
    margin-top: 15%;
}
div#websites, div#designs{
    margin-left: 190px;
    width: 50%;
    height: auto;
    
}
div#websites img, div#designs img{
    border: black 2px solid;
    border-radius: 100px;
    box-shadow: rgb(53, 120, 54) 0px 0px 30px;
    width: 50%;
    height: auto;
    max-height: 20%;
}



/* Contact */
section.contact{
    height: auto;
    margin-top: 5%;
    align-content: center;
}
h1#contact_me{
    font-size: 9vw;
    text-align: center;
    margin-bottom: 11%;
}
div#contact_img{
    margin-left: 30%;
    margin-bottom: 9%;
    width: 45%;
    max-width: 350px;
    height: auto;
    background-color: rgba(53, 120, 54, 0.4);
    border-radius: 30px;
    box-shadow: rgb(53, 120, 54) 0px 0px 10px;
    
}
div#contact_img figcaption{
    text-align: center;
}
div#contact_img:hover{
    position: relative;
    animation-name: one;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
div#contact_img img{
    margin-left: 20%;
}





/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
@media only screen and (max-width:480px){
    body{
       width: 600px;
       margin-left: 20px;
       margin-right: 20px;
       background:white;
       height: 100%;
    }
    section{
        display: flex;
        flex-flow: row wrap;
        width:100%;
        height: 3em;
    }
    nav.horizontal ul{
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       flex-flow: row nowrap;
    }
    nav.horizontal ul li{
       font-size: .5vw;
       flex: 1 1 130px;
    }
    img{
        display: flex;
        flex-flow: row wrap;
    }
    section.contact div#contact_img{
        padding-left: auto;
        padding-right: auto;
    }
    section.index{
        height: 1050px;
    }
    h1#index{
        font-size: 1vw;
        margin-left: 15px;
    }
    h2#h2_index{
        font-size: 2em;
        margin-left: 60px;
        margin-bottom: 50px;
    }
    img#about_me_img{
        width: 10em;
    }
 }
 
 .checked {
    color: orange;
  }