@charset "utf-8";

@font-face{
    font-family: Round;
    src: url(round.ttf) format('truetype'),
         url(round.woff) format('woff'),
         url(round.woff2) format('woff2');
}

@keyframes example {
    from {background-color: white;}
    to {background-color: rgba(53, 120, 54, .6);}
  }

  @keyframes one {
    0%   {background-color:rgb(53, 120, 54); transform:rotateX(20deg); }
    25%  {background-color: rgb(53, 120, 54); transform:rotateX(-20deg);}
    50%  {background-color: rgb(53, 120, 54); transform:rotateX(20deg);}
    75%  {background-color: rgb(53, 120, 54); transform:rotateX(-20deg);}
    100% {background-color: rgb(53, 120, 54); transform:rotateX(20deg);}
  }

  @keyframes two {
    0%   { transform:rotateX(20deg); transform: scale(2);}
    25%  { transform:rotateX(-20deg);}
    50%  { transform:rotateX(20deg);}
    75%  { transform:rotateX(-20deg);}
    100% { transform:rotateX(20deg);}
  }

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: rgb(31, 31, 31) 8px 15px 25px, rgb(31, 31, 31) -8px -15px 25px;
}
	
body > header {
	text-align: center;	
	width: 100%;
}

body > header > img {
	display: inline;
	width: 100%;
	max-width: 400px;
    text-align: center;
    position: absolute;
}

html{
    background-image: url(background.png);
    background-size: 200px 200px;
    background-repeat: repeat;
    background-attachment: fixed;
}

section{
    padding-top: 100px;
    padding-bottom: 200px
    display: block;
}
div{
    display: block;
}
/*Horizontal Nav*/

nav.horizontal {
    width: 100%;
}

nav.horizontal ul {
	background-color: rgb(53, 120, 54);
	text-align: center;
    width: 100%;
    float:left;
    clear:left;	
    height: 90px;
    background: linear-gradient( rgb(53, 120, 54), rgba(53,120,54, 0.7));
}


nav.horizontal li {
	font-family: Round, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	line-height: 2em;
	list-style-type: none;	
    width: 20%;
}


nav.horizontal ul::after{
    clear: both;
    content:"";
    display: table;
}

nav.horizontal li a {
	color: black;
	display: block;
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
nav.horizontal li a:hover{
    text-shadow: black 5px 5px 25px;
}
nav.horizontal > ul li {
    float: left;
}

section.index, body header{
    background-color: white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

/* Index */

section.index{
    border: none;
    box-shadow: none;
    height: 800px;

}
h1#index{
    font-size: 150px;
    padding-top: 1em;
    text-align: center;
    text-shadow: black 15px 8px 40px;
}
h2{
    text-align: center;
    padding-top: 20px;
}

/* About Me */
section.left, section.right{
    height: 900px;
    margin-top: 300px;
}
 section.left img{
    border-style: double;
    border-width: 8px;
    border-color: black;
    margin:10px;
 }
h2#about_h2{
    font-size: 50px;
    margin-top: 50px;
}
article#about_me{
    margin-top: 100px;
}
section.left{
    float: left;
}
section.right{
    margin-right: 10px;
    margin-left: 10px;
}
/* Skills */

section.skills{
    height: 800px;
    margin-top: 400px;
    align-content: center;
}

h1#skills_h1{
    font-size: 90px;
    text-align: center;
    margin-bottom: 100px;
}
h1#skill1, h1#skill2{
    font-size: 40px;
    margin-left: 70px;
}
img#star1, img#star2{
    float: right;
    margin-right: 50px;
}
h1#skill1{
    padding-top: 50px;
}
img#star2{
    margin-top: 170px;
}
h1#skill2{
    padding-top: 200px;
}
div#skills{
    padding-top: 60px;
}
 img#star1:hover, img#star2:hover{
     animation-name: two;
     animation-duration: 6s;
     animation-iteration-count: infinite;
 }

/* Works */

h2#work_h2{
    font-size: 60px;
    margin-bottom: 90px;
    text-align: center;
}
section.works{
    height: 900px;
    margin-bottom: 100px;
    margin-top: 300px;
}
div#websites, div#designs{
    margin-left: 190px;
    width: 340px;
    height: 280px;
    
}
div#websites img, div#designs img{
    border: black 2px solid;
    border-radius: 100px;
    box-shadow: rgb(53, 120, 54) 0px 0px 30px;
}



/* Contact */
section.contact{
    height: 800px;
    margin-top: 300px;
    align-content: center;
}
h1#contact_me{
    font-size: 90px;
    text-align: center;
    margin-bottom: 100px;
}
div#contact_img{
    margin-left: 190px;
    width: 340px;
    height: 280px;
    background-color: rgba(53, 120, 54, 0.4);
    border-radius: 30px;
    box-shadow: rgb(53, 120, 54) 0px 0px 10px;
}
div#contact_img figcaption{
    text-align: center;
}
div#contact_img:hover{
    position: relative;
    animation-name: one;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
div#contact_img img{
    margin-left: 75px;
    margin-top: 35px;
}
